*{
    box-sizing: border-box !important;

}
a{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

:root{
    --mainbackground: #121622;
    --sacondbackground:#695645cc;
}
body.index{
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(15\).jpg);
    background-size: 100% 100%;
    color: white;

}
.navbar-expand-lg{
    padding: 10px 0;
}
.navbar-expand-lg,.navbar-expand-lg a
,.navbar-expand-lg ul li
{
    background-color: var(--mainbackground);
    color: white !important;
    font-weight: bold;

}
.navbar-brand{
   position: relative;
   top: 10px;
}
.navbar-expand-lg img
{
    width: 50px;
}
.navbar-expand-lg ul li{
    padding-left: 30px !important;
    position: relative;
}
.navbar-expand-lg ul li a.active{
    position: relative;
}
.navbar-expand-lg ul li a{
    position: relative;
}
.navbar-expand-lg ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;

}
.navbar-expand-lg ul li:hover a::after{
    width: 100%;

}
.navbar-expand-lg ul li a.active::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}
button#realsearch {
    padding: 8px 45px;
    background-color: #121622;
    color: white;
    font-weight: bold;
}
.currentWeather{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: var(--sacondbackground);  
}
.currentWeather h4 {
    padding-top: 20px;
}
.currentWeatherfooter {
    padding-top: 18px;
}
.imgWeatherContainer{
    margin-left: -13px;
    width: 40px; 
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.WeatherInfo{
    width: 100%;
}
.WeatherItems{
    background-color: var(--sacondbackground);
    margin-top: 80px !important;
}
.WeatherForcast{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: var(--sacondbackground);

}
.WeatherForcastfooter{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 15px;
}
.WeatherForcast h4,.WeatherForcast p,.WeatherForcast h3{
    font-size: 15px;
}
.WeatherForcast h1{
    font-size: 30px;
}
.WeatherForcast .city{
    font-size: 20px;
    padding-top: 20px;
}
.WeatherForcastHeader h4 ,.WeatherForcastHeader h1{
    padding-top: 5px;
} 
.WeatherForcastfooter h4{
    padding-top: 5px;
} 
.WeatherForcastfooter p{
    padding-top: 15px;
    width: max-content;

}
.fa-bars{
    color: white;
    padding-top: 10px;
    font-size: 20px;
}
.navbar-toggler:focus,.navbar-toggler{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
.contactbody{
    background-color: #1E202B;
}
  .breadcrumb {
    background: #262936;
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 13px;
    font-size: 0.9285714286em;
}
a.text{
    color: #BFC1C8;
    text-decoration: none;
}
a.text:hover{
   text-decoration: underline;
}
.fullwidth-block {
    padding: 70px 0;
}
.contact-details {
    background: #262936;
    border-radius: 10px;
    overflow: hidden;
}
.contact-details .map {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.map {
    height: 220px;
}
.contact-details .contact-info {
    padding: 20px;
}
.contact-details address {
    padding-left: 30px;
    position: relative;
}

address {
    font-style: normal;
}
.contact-details address img {
    position: absolute;
    left: 0;
    top: 0;
}

img {
    border: 0;
}
address p {
    margin-top: 0;
    color: #BFC1C8;
}
.contact-details a {
    margin-right: 12px;
    color: #bfc1c8;
}

a {
    text-decoration: none;
    color: #009ad8;
}
a {
    background: transparent;
}
.contact-details a img {
    margin-right: 10px;
    vertical-align: middle;
}
.fullwidth-block .section-title {
    font-size: 36px;
    font-size: 2.5714285714em;
    font-weight: 300;
    color: white;
}
.contact-form .row {
    margin: 0 -5px;
}
.contact-form [class*="col"] {
    padding: 0 5px;
}
.contact-form input:not([type="submit"]), .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #393c48;
    background: transparent;
}
.col-lg-6 input,textarea{
    border-radius: 50px;
}
.col-lg-6 textarea{
    border-radius: 20px;
}
.contact-form textarea {
    min-height: 150px;
}
.contact-form .text-right {
    text-align: right;
}
.button, form input[type="submit"], form input[type="button"], form button, form input[type="reset"] {
    border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}
.site-footer {
    background: #262936;
    padding: 20px 0;
}
.site-footer .subscribe-form {
    position: relative;
    margin-bottom: 15px;
    border-radius: 20px;
}
.site-footer .subscribe-form input[type="text"] {
    padding: 15px 100px 10px 20px;
    background: #1e202b;
    width: 100%;
    color: white;
    border-radius: 50px;

}
.site-footer .subscribe-form input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
.site-footer .social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
}
.social-links .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
}
form input[type="text"]:focus{
outline: none;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
    padding: 24px;
    background: white;
    color: rgb(14, 30, 37);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .16);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}
.card h1 {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
}
.card a {
    margin: 0;
    font-weight: 600;
    line-height: 24px;
    color: #054861;
}
.card a svg {
    position: relative;
    top: 2px;
}
p:last-of-type {
    margin-bottom: 0;
}
  @media (max-width:767px) {
    .currentWeather{
        padding: 0 20px;
    
    }
    .colm1{
        order: 2;
        margin: 0;
    }
    .colm2{
        order: 1;
    }
    }
  @media (max-width:991px) {
    .navbar-expand-lg ul li a.active::after{
        content: '';
        width: 10%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        
    }

    .navbar-expand-lg ul li a::after{
        content: '';
        width: 0%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    
    }
    .navbar-expand-lg ul li:hover a::after{
        content: '';
        width: 15%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    
    }
    .navbar-expand-lg ul li {
       text-align: center;
       padding: 10px 0;
    }
    }